{{ if eq .chezmoi.os "darwin" }}
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
{{ end }}
{{ if eq .chezmoi.os "linux" }}
[".oh-my-bash"]
    type = "archive"
    url = "https://github.com/ohmybash/oh-my-bash/archive/master.tar.gz"
    exact = true
    stripComponents = 1
{{ end }}
