syntax on
set nocompatible
set number
set noswapfile
set tabstop=4
set shiftwidth=4
set expandtab
set softtabstop=4
set autoindent
set ignorecase
set backspace=2
set ruler
{{ if ne .chezmoi.os "linux" -}}
set clipboard+=unnamedplus
{{ end }}
{{ if eq .chezmoi.os "darwin" -}}
if has("gui_running")
    if has("gui_macvim")
        set guifont=UbuntuMono-Regular:h18
        set linespace=4
    endif
endif
{{- end }}
